body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
}

/*
@font-face {
  font-family: "urw-din";
  src: local("urw-din"), 
    url("./fonts/URWDIN-Light.ttf") format("truetype");
}

@font-face {
  font-family: "urw-din-bold";
  src: local("urw-din-bold"), 
    url("./fonts/URWDIN-Bold.ttf") format("truetype");
}
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
